body {
    /*background-image: url("images/backgrounds/bg1.jpg");*/
    background-attachment: fixed;
}

/* Style the header */

.header {
    background-color: rgb(252, 220, 41);
    padding-top: 20px;
    text-align: center;
    top: 0;
    width: 100%;
}

/* The navbar container */

.topnav {
    overflow: hidden;
    background-color: transparent;
}

/* Navbar links */

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

/* Links - change color on hover */

.topnav a:hover {
    background-color: rgb(177, 203, 236);
    color: black;
}

/* Add an active class to highlight the current page */

.active {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-bottom: 3px solid red;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* Style the footer */

.footer {
    background-color: rgb(252, 220, 41);
    text-align: center;
    padding: 10px;
    bottom: 0;
    font-weight:bold;
}

* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
}

/* Left and right column */

.column.side {
    width: 35%;
    border-left-style: solid;
}

/* Middle column */

.column.middle {
    width: 65%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* Style the image gallery */

div.gallery {
    border: 2px solid #ccc;
    background-color: rgba(7, 113, 252, 0.3);
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix
{
    padding-top: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: rgba(7, 113, 252, 0.3); padding: 20px;
}
