
		body {
			/*background-image: url("images/backgrounds/bg1.jpg");*/
			background-attachment: fixed;
		}

		/* Style the header */

		.header {
			background-color: rgb(252, 220, 41);
			padding-top: 20px;
			text-align: center;
			top: 0;
			width: 100%;
		}

		/* The navbar container */

		.topnav {
			overflow: hidden;
			background-color: transparent;
		}

		/* Navbar links */

		.topnav a {
			float: left;
			display: block;
			color: black;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			font-weight: bold;
			border-bottom: 3px solid transparent;
		}

		/* Links - change color on hover */

		.topnav a:hover {
			background-color: rgb(177, 203, 236);
			color: black;
		}

		/* Add an active class to highlight the current page */

		.active {
			background-color: rgba(0, 0, 0, 0);
			color: black;
			border-bottom: 3px solid red;
		}

		/* Hide the link that should open and close the topnav on small screens */

		.topnav .icon {
			display: none;
		}

		/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

		@media screen and (max-width: 600px) {
			.topnav a:not(:first-child) {
				display: none;
			}
			.topnav a.icon {
				float: right;
				display: block;
			}
		}

		/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

		@media screen and (max-width: 600px) {
			.topnav.responsive {
				position: relative;
			}
			.topnav.responsive a.icon {
				position: absolute;
				right: 0;
				top: 0;
			}
			.topnav.responsive a {
				float: none;
				display: block;
				text-align: left;
			}
		}

		/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

		@media screen and (max-width: 600px) {
			.column {
				width: 100%;
			}
		}

		/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

		@media screen and (max-width: 600px) {
			.column.side,
			.column.middle {
				width: 100%;
			}
        }
        .clearfix{
            padding-top: 20px;
        }

        .card{
            padding: 20px;
            background-color: rgba(7, 113, 252, 0.3);
        }

        .card-title
        {
            color:rgb(8, 8, 8); text-shadow: 4px 4px 4px black;
					font-family:georgia; font-size:60px; font-weight:bold; color:rgb(252, 220, 41)
        }

		/* Style the footer */

		.footer {
			background-color: rgb(252, 220, 41);
			text-align: center;
			padding: 10px;
            bottom: 0;
            font-weight:bold;
		}

		.clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
